article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.input-texto{
    position: absolute;
    /*visibility: hidden;*/
    z-index: 1;
    width: 500px;
    height: 150px;
}

/* 
//////////////////////////
    CABECERA.....
//////////////////////////    
*/
.logo{
    background-color: grey;
}
.redes{
    margin-left: 840px;
}
.redes a img{
    border-radius: 50%;
}

#edit{
    background-color: green;
    border-radius: 5px;
}

#banner{
    /*margin: 10px 50px;*/
    position: absolute;
    width: 1100px;
    height: 500px;
    border: 2px solid cadetblue;
  /*  z-index: 0;*/
}

#foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /*border: 2px solid black;*/
    position: relative;
    top: 350px; left: 120px;
}

.edit-img{
    border-radius: 50%;
    position: relative;
    visibility: hidden;
}

.edit-img img{
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 50%;
}

#edit-img-banner{
    top: -80px; left: 1050px;
}

#texto-banner{
    top: 150px; left: 400px;
    visibility: hidden;
}

#edit-img-foto{
    top: 350px; left: 40px;
}

#texto-foto{
    top: 425px; left: 500px;
    visibility: hidden;
}


/* 
//////////////////////////
    HACERCA DE.....
//////////////////////////    
*/

#acerca_de{
    margin-top: 400px;
    margin-bottom: 50px;
}

#texto-datos{
    top: 750px; left: 400px;
    visibility: hidden;
}

#texto-esp{
     left: 600px;
   /* visibility: hidden;*/
}

.datos , .rd-cia{
    float: left;
    margin: 5px 15px 5px 5px;
}

.edit-p {
    float: right;
    border-radius: 50%;
    visibility: hidden;
}

.edit-p img{
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 50%;
}

.exp , .leng{
    clear: both;
}

#experiencia{
    margin-top: 10px;
    margin-bottom: 50px;
}

#educacion{
    margin-top: 10px;
    margin-bottom: 50px;
}

#habilidades{
    margin-top: 10px;
    margin-bottom: 50px;
}